* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;

}

nav .left .logo img {
  width: 100px;
  margin: 5px 0;
  cursor: pointer;
}

nav .left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}


nav .left .search_bar {
  width: 250px;
  height: 40px;
  background-color: #efefef;
  border-radius: 30px;
  padding: 0 10px;
  margin-left: 10px;
  position: relative;
  left: 15px;
}

nav .left .search_bar i {
  line-height: 40px;
  font-size: 19px;
  color: #919191;
  margin-right: 5px;
}

nav .left .search_bar input {
  background: transparent;
  outline: none;
  border: 0;
  font-size: 16px;
  width: 200px;
}

nav .center {
  position: relative;
  right: 45px;
}

nav .center i {
  margin: 0 45px 0 45px;
  font-size: 22px;
}

nav .center i:hover {
  color: #45abff;
  cursor: pointer;
}

nav .right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

nav .right i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #efefef;
  line-height: 35px;
  padding-left: 8px;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

nav .right img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: 8px;
  line-height: 45px;
  cursor: pointer;
}

/*---------main----------*/

.main {
  display: flex;
  margin-top: 60px;
  background: #f5f5f5;
  width: 100%;
}

.main .left {
  width: 25%;
  height: 92vh;
  overflow: hidden;
  overflow-y: scroll;
  background: #f5f5f5;
  padding: 20px 6px 5px 10px;
  position: fixed;
}

.main .left::-webkit-scrollbar {
  width: 8px;
}

.main .left::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f5f5f5;
}

.main .left:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.main .left .img {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.main .left .img:hover {
  background: #e3e3e3;
}

.main .left .img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 8px 10px 8px 10px;
}

.main .left hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}

.main .left h2 {
  font-size: 20px;
  color: #919191;
  margin: 5px 0;
}

.main .left .edit {
  color: #45abff;
  font-size: 15px;
  float: right;
  position: relative;
  bottom: 28px;
  cursor: pointer;
  opacity: 0;
}

.main .left:hover .edit {
  opacity: 1;
}

.main .left .shortcuts {
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.main .left .shortcuts:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.main .left .shortcuts img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 8px 10px 8px 0px;
}

.main .center {
  width: 560px;
  height: auto;
  padding: 20px 20px 0 20px;
  background: #f5f5f5;
  margin-left: 25%;
}

.main .center::-webkit-scrollbar {
  width: 0;
}

.main .center .top_box {
  width: 100%;
  height: 260px;
  display: flex;
  gap: 4px;
}



.main .center .top_box .mystory-card {
  width: 125px;
  height: 250px;
  overflow: hidden;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.main .center .top_box .mystory-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  object-fit: cover;
}

.main .center .top_box .mystory-card .story-upload {
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  bottom: 50px;
  cursor: pointer;
}

.main .center .top_box .mystory-card .story-upload img {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  border-radius: 50%;

}

.main .center .top_box .mystory-card .story-upload .story-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.main .center .top_box .story-card {
  width: 125px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 7px;
}

.main .center .top_box .story-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main .center .top_box .story-card .story-profile {
  position: relative;
  bottom: 240px;
  margin-left: 10px;
}

.main .center .top_box .story-card .story-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #45abff;
}

.main .center .top_box .story-card .story-profile .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid #fff;
  position: relative;
  bottom: 15px;
  left: 25px;
}

.main .center .top_box .story-card .story-name {
  position: relative;
  bottom: 80px;
  padding: 0 10px;
}


.main .center .top_box .story-card .story-name .name {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

.main .center .my-post {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.main .center .my-post .post-top img {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.main .center .my-post .post-top {
  display: flex;
  align-items: center;
}


.main .center .my-post .post-top input {
  width: 90%;
  padding: 10px;
  margin-left: 14px;
  border: 0;
  outline: none;
  background: #efefef;
  border-radius: 30px;
  font-size: 17px;
}

.main .center .my-post .post-top input:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.main .center .my-post .post-top hr {
  width: 100%;
  height: 1px;
  background: #cccccc;
  border: 0;
  margin: 11px 0;
}

.main .center .my-post .post-bottom {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}

.main .center .my-post .post-bottom .post-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 7px 26px;
  cursor: pointer;
}

.main .center .my-post .post-bottom .post-icon:hover {
  background: #efefef;
  border-radius: 8px;
}

.main .center .my-post .post-bottom .post-icon i.red {
  font-size: 23px;
  color: red;
  margin-right: 8px;
}

.main .center .my-post .post-bottom .post-icon i.green {
  font-size: 23px;
  color: #27cc37;
  margin-right: 8px;
}

.main .center .my-post .post-bottom .post-icon i.yellow {
  font-size: 23px;
  color: #f7b928;
  margin-right: 8px;
}

.main .center .friends-post {
  margin: 10px 0;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.main .center .friends-post .friend-post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main .center .friends-post .friend-post-top .img-and-name {
  display: flex;
  align-items: center;
}

.main .center .friends-post .friend-post-top .img-and-name img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
  cursor: pointer;
}

.main .center .friends-post .friend-post-top .img-and-name .friends-name .friends-name {
  font-weight: bold;
  cursor: pointer;
}

.main .center .friends-post .friend-post-top .img-and-name .friends-name .friends-name:hover {
  text-decoration: underline;
}

.main .center .friends-post .friend-post-top .img-and-name .friends-name .time {
  font-size: 14px;
  color: #919191;
  margin: 3px 0;
}

.main .center .friends-post .friend-post-top .img-and-name .friends-name .time i {
  font-size: 10px;
  margin-left: 5px;
}

.main .center .friends-post .friend-post-top .menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.main .center .friends-post .friend-post-top .menu:hover {
  background: #efefef;
  cursor: pointer;
}

.main .center .friends-post .friend-post-top .menu i {
  line-height: 35px;
  margin-left: 8px;
  font-size: 18px;
}

.main .center .friends-post img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.main .center .friends-post .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.main .center .friends-post .info .emoji-i img {
  width: 20px;
  height: 20px;
  margin-right: 0px;
  cursor: pointer;
}

.main .center .friends-post .info .emoji-i p {
  font-size: 16px;
  color: #919191;
}