body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(19, 46, 167, 1.0);
    background: linear-gradient(135deg, rgba(19, 46, 167, 1.0), rgba(19, 184, 121, 1.0));
}

.container {
    background-color: #ffffffc5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    font-family: Georgia, serif;
}

.form-group {
    margin-bottom: 15px;
  }

  .logo {
    color: #3b5998;
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  Input[type="text"],
  button,
  .btn-fb {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Georgia, serif;
  }

  Input[type="text"] {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
  }

  button,
  .btn-fb {
    background-color: #1877f2;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }

  button:hover,
  .btn-fb:hover {
    background-color: #166fe5;
  }

  .forgot-link {
    margin-top: 20px;
  }

  .forgot-link a {
    color: #1877f2;
    text-decoration: none;
    font-weight: bold;
  }